<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <p>
      Este es un proyecto de ejemplo de phoenix. Entre a cualquier sala para jugar ajedrez.
      Las salas son públicas, así que cualquiera puede entrar.
    </p>
    <p class="my-3">
      Debe entrar a la misma sala que su oponente para poder jugar.
    </p>
  </div>
</main>
